.wrapper-login {
  background-image: url('../components/Images/login-bg.jpg');
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20vh auto;
  height: 60vh;
  width: 60vw;
  max-width: 100%;
  color: white;



}

.login-small {
  padding: .5rem;
  color: white;
}

.login-small a {
  color: white;
}

.login-container {
  /* background-color: var(--bg-color);  */
  background: #134977;
  padding: 3rem;
  border-radius: 10px;
}

.login-header {
  font-size: 2rem;
  text-align: center;
  color: white;

}

.login-subheader {
  font-size: 1.4rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.login-dataform {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.login-dataformemail {
  padding: .4rem;
  margin: 1rem 0;
  border-radius: 3px;
  outline: none;
  height: 2.5rem;
  width: 100%;
  border: 2px solid var(--border-color);
  color: black;
  background-color: white;

}

.login-dataformpass {

  padding: .3rem;
  margin: 1rem 0;
  height: 2.5rem;
  width: 100%;
  border-radius: 3px;
  outline: none;
  border: 2px solid var(--border-color);
  color: black;
  background-color: white;
  position: relative;
}

.login-showpass {
  position: fixed;
  top: 51%;
  left: 56%;
  background-color: var(--bg-color);
  padding: 2px;
  border-radius: 2px;
  vertical-align: middle;
  cursor: pointer;
}

.login-dataformbtn {

  padding: .3rem;
  border-radius: 3px;
  border: 2px solid var(--border-color);
  background-color: #4e4ac8;
  color: white;
  margin: 1rem auto;
  width: 50%;
  height: 2.5rem;
  outline: none;
}