.rating {
	&__container {
		max-width: 80%;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 50px;
	}
	&__title {
		text-align: center;
		margin-bottom: 15px;
	}
	&__subtitle {
		text-align: center;
		font-size: 20px;
		margin-bottom: 30px;
	}
}
.table_dark {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	width: 640px;
	text-align: left;
	border-collapse: collapse;
	background: #252f48;
	margin: 10px;
}
.table_dark th {
	color: #edb749;
	border-bottom: 1px solid #37b5a5;
	padding: 12px 17px;
}
.table_dark td {
	color: #ffffff;
	border-bottom: 1px solid #37b5a5;
	border-right: 1px solid #37b5a5;
	padding: 7px 17px;
	a {
		color: #ede6e6;
	}
}
.table_dark tr:last-child td {
	border-bottom: none;
}
.table_dark td:last-child {
	border-right: none;
}
