.taskBg {
	background-color: white;
	border-radius: 6px;
	margin-bottom: 10px;
	padding: 10px 140px 10px 15px;
	text-align: left;
	font-size: 16px;
	position: relative;

	max-width: 310px;

	.taskText {
		flex: 1;
		font-size: 14px;
		word-break: break-all;
		overflow: hidden;
	}
	.taskTextContainer {
		max-width: 150px;
	}

	div {
		display: flex;
		align-items: center;
	}
	.done .taskText {
		text-decoration: line-through;
		opacity: 0.3;
		flex: 1;
	}

	.iconsWrap {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 15px;
		width: auto;
		display: inline-block;
		span {
			display: inline-block;
			margin: 0px 5px 0 5px;
			cursor: pointer;
		}
	}
}

.taskNumber {
	color: #999;
	border: 1px solid #999;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	text-align: center;
	font-size: 12px;
	margin-right: 8px;
	align-items: center;
	justify-content: center;
}
